@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");


* {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

h1 {
    text-align: center;
    font-weight: bold;
}

#photo {
    width: 200px;
    height: auto;
}

#foto_personal {
    display: flex;
    justify-content: center; /* centra horizontalmente */
    align-items: center; /* centra verticalmente */
    height: auto;
}

#mapa_experiencia {
    display: flex;
    justify-content: center; /* centra horizontalmente */
    align-items: center; /* centra verticalmente */
    height: auto;
}

.subtitle {
    color: rgba(182, 148, 39, 0.89);
    text-transform: uppercase;
}

section {
    margin: 4px 2px 8px 2px;
    border: 0.2pt solid #cedddd;
    padding: 1.5% 0.8%;
    padding-left: 1.2%;
    padding-right: 1.2%;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    -moz-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
}

a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    /*cursor: ;*/
}

footer a:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;
}

footer ul {
    text-align: center;
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

section form {
    display: grid;
    row-gap: 0.5rem;
}

nav {
    border: 2px solid #333;
    padding: 10px;
    background-color: #f8f8f8;
}
/*
#resumen {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 24vh;
    flex-wrap: wrap;
}

#resumen h2 {
    width: 50%;
}

#resumen p {
    width: 50%;
}
#resumen img {
    max-width: 50%;
}
*/

#resumen {

    /* Modelo de diseño en cuadrícula */
    display: grid;

    /* Distribuye el espacio entre y alrededor
             de los items en el eje principal */
    justify-content: space-around;

    /* Alineación de un elemento dentro del bloque
        que lo contiene, considerando el eje transversal */
    align-items: stretch;

    /* Plantilla con áreas en la cuadrícula */
    grid-template-areas: "A D"
        "B D";
}

#resumen h2 {
    grid-area: A;
}

#resumen p {
    grid-area: B;
}

#resumen video {
    grid-area: D;
}

#informacion_principal {
    text-align: center;
}
